{% extends "base.html" %}
{% block title %}Configuration{% endblock %}
{% block titlecontent %}<h1 class="h2">Configuration</h1><h6>Editing {{ filepath }}</h6>{% endblock %}
{% block styles %}<style type="text/css" media="screen">
    #configEditor {
        /*position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;*/
        font-size: larger;
        width: 100%;
        min-height: 250px;
        height: 70vh;
        margin-bottom: 20px;
    }
</style>{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="configEditor">{{ body|e }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <button class="btn btn-primary" id="validate-config">Validate</button>
            <button class="btn btn-primary" id="query-hardware">Query Hardware</button>
            <button class="btn btn-primary" id="test-aws">Test AWS Settings</button>
            <button class="btn btn-primary" id="save-config">Save & Reload</button>
        </div>
        <div class="col-md-5 border border-primary">
            <span class="w-100" id="testoutput"></span>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("configEditor");
    editor.setTheme("ace/theme/dawn");
    editor.session.setMode("ace/mode/yaml");

    $("#test-aws").click(function()
    {
        $.post("{{ url_for('testAws') }}",  { config: editor.getValue()}, function( data) {
            $("#testoutput").text(data);
        });
    });
    $("#validate-config").click(function()
    {
        $.post("{{ url_for('validateConfig') }}",  { config: editor.getValue()}, function( data) {
            $("#testoutput").text(data);
        });
    });
    $("#query-hardware").click(function()
    {
        $.post("{{ url_for('query_hardware') }}",  { config: editor.getValue()}, function( data) {
            $("#testoutput").text(data);
        });
    });

    $("#save-config").click(function()
    {
        $.post("{{ url_for('update_config') }}",  { config: editor.getValue()}, function( data) {
            if(data['result'] ==="failed")
            {
                $("#testoutput").text(data['message']);
            }
            else
            {
                location.reload(true)
            }

        });
    });
</script>
{% endblock %}
