{% extends "base.html" %}
{% block title %}Diagnostics{% endblock %}
{% block titlecontent %}<h1 class="h2">Diagnostics</h1>{% endblock %}
{% block content %}

    <span class="h5">Current Lock Status:</span>
    <p>Refresh page to see current status.</p>
    <table class="table-sm table">
    <thead>
    <tr><th>Facility</th><th>Status</th><th colspan="2">Action</th></tr>
    </thead>
    <tbody>
    {% for fn,status in facility_status.items() %}
    <tr class="{% if status %}table-success{% endif %}">
    <td>{{ fn }}</td>

        {% if status %}
            <td>Unlocked</td>
    <td> <form class="form-inline" method="post" action="{{ url_for('lock') }}">
        <input type="hidden" value="{{ facility_map[fn][0] }}" name="board">
        <input type="hidden" value="{{ facility_map[fn][1] }}" name="index">
        <button class="btn btn-primary" value="submit">Lock</button></form></td>

        {% else %}
            <td>Locked</td>
            <td><form class="form-inline" method="post" action="{{ url_for('unlock') }}">
                <input type="text" class="form-control mr-sm-2" placeholder="Seconds" name="duration">
                <input type="hidden" value="{{ facility_map[fn][0] }}" name="board">
                <input type="hidden" value="{{ facility_map[fn][1] }}" name="index">
                <button class="btn btn-danger" type="submit">Unlock</button>
            </form></td>
    {% endif %}
    </tr>
    {% endfor %}
    </tbody>
    </table>

    <hr />
    <h5>Current Access Requirements:</h5>
    <h6>Current Required Level: {{ rlevel }} </h6>


    <table class="table table-sm">
<thead>
<tr>
    <th>Required</th>
    <th>Facility</th>
    <th>Description</th>
    <th>Tag</th>
    <th>Active?</th>
</tr>
</thead>
<tbody>
    {% for r in requirements %}
 <tr class="{% if r.is_active() %}table-primary{% endif %}">
 <td>{{ r.requiredpriority }}</td>
 <td>{{ r.facility }}</td>
     <td>{{ r.description }}</td>
 <td>{{ r.tag }}</td>
 <td>{{ r|format_active }}</td>
 </tr>
{% endfor %}
</tbody>
</table>

    <hr />
    <span class="h5">Test Fob Status:</span>
    <form class="form-inline" method="get" action="{{ url_for('test_fob') }}">
     <input type="text" name="fobnumber" placeholder="Fob Number" class="form-control mb-2 mr-sm-2" >
     <button class="btn btn-primary mb-2" value="submit">Test</button></form>

{% endblock %}