{% extends "base.html" %}
{% block title %}AWS Integration{% endblock %}
{% block content %}

<form action="{{  url_for("update_integration") }}" method="post">
      <h5>Credential Configurations</h5>
    <div class="form-group">
    <label for="keyId">AWS Key ID</label>
    <input type="text" class="form-control" id="keyId" aria-describedby="emailHelp" placeholder="Key Id" value="BKQW4344QNK3MENBZWXYXM">
  </div>
  <div class="form-group">
    <label for="accessKey">Access Key</label>
    <input type="text" class="form-control" id="accessKey" placeholder="Access Key" value="XntJC23r5FUqn3G+8Txv6AmabRothGKO0sqyq2NS">
  </div>
      <div class="form-group">
    <label for="region">Region</label>
    <input type="text" class="form-control" id="region" placeholder="Region" value="us-east-1">
  </div>

    <h5>Queue Configurations</h5>
    </div>
      <div class="form-group">
    <label for="queueUrl">Incoming queue URL</label>
    <input type="text" class="form-control" id="queueUrl" placeholder="Queue" value="https://sqs.us-east-1.amazonaws.com/443483347720/basictest.fifo">
  </div>

      <div class="form-group">
    <label for="queueUrl">Outgoing queue URL</label>
    <input type="text" class="form-control" id="queueUrl" placeholder="Queue" value="https://sqs.us-east-1.amazonaws.com/443483347720/basictest.fifo">
  </div>

    <button type="submit" class="btn btn-info">Test Settings</button>
  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>


{% endblock %}