{% extends "base.html" %}
{% block styles %}
    <style type="text/css">
     tr.header>th { padding-bottom: 25px;}
    tr.grouper th { border-bottom: darkgray 2px solid;}
    </style>
{% endblock %}
{% block title %}Users{% endblock %}
{% block titlecontent %}<div class="w-100">
        <div class="float-left"><h1 class="h2">User Information</h1></div>
    <div class="float-right">
<nav aria-label="Page navigation example">
  <ul class="pagination">
      <li class="page-item {% if page == 1 %}disabled{% endif %}" >
      <a class="page-link" href="{{ url_for('users', page=page-1) }}" aria-label="Previous">Previous </a>
    </li>
    {% for pn in pagerange %}
    <li class="page-item {% if page == pn %}active{% endif %}"><a class="page-link" href="{{url_for('users',page=pn)}}">{{ pn }}</a></li>
    {% endfor %}
    <li class="page-item {% if page == pages %}disabled{% endif %}">
      <a class="page-link" href="{{ url_for('users', page=page+1) }}" aria-label="Next">Next</a>
    </li>
  </ul>

</nav>

    </div>
    </div>{% endblock %}
{% block content %}
<h5>Showing credentials for {{ members|length }} users.</h5>
<table id="mytable" class="table table-sm table-striped">
<thead>
    <tr class="header"><th>Priority</th>
    <th>Facility</th>
    <th >Credential</th>
    <th >Effective</th>
    <th >Expiration</th>
</tr>
    </thead>
{% for k,v in members.items() %}
{#  {%  set group = v|list %} #}
    <tr class="grouper">
    <th colspan="5">MemberId: {{ k }}</th>
    </tr>

    {% for m in v %}
    <td>{{ m.priority }}</td>
    <td>{{ m.facility }}</td>
    <td>{{ m.type }}:{{ m.credential }}</td>
        <td>{{ m.effective.strftime("%c") }}</td>
        <td>{{ m.expiration.strftime("%c") }}</td>

    </tr>
        {% endfor %}
{% endfor %}
</table>

{% endblock %}